<!DOCTYPE html>
<html ng-app = "m_app">

<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />    <!-- link dependancies-->
</head>

<div class="page-header">
	<h1>
		Marauders App
	</h1>
</div>

<!-- include ListController, with scope injected-->
<body ng-controller="ListController">

    <section ng-controller ="PanelController as panel">
      <!-- make the tabs -->
      <!--choose class of tabs -->
        <ul class="nav nav-pills">
          <!-- set varialbe tab to 1 2 or 3 depending on the tab pressed. 
          ng-click calls the controller which sets tab to 1 2 or 3
          use ng class to keep the selected tab highlighted. it returns true when 1 2 or 3 is selected-->
          <li ng-class="{ active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Home</a></li> 
          <li ng-class="{ active: panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Training Centre</a></li>
          <li ng-class="{ active: panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">History</a></li>
          <li ng-class="{ active: panel.isSelected(4)}"> <a href ng-click="panel.selectTab(4)">User Profiles</a></li>
        </ul>

    <!-- real time section -->
	 <div class="row" ng-show="panel.isSelected(1)">
      <div><label> Real Time operation of the system</label></div>
	 	 <!-- create canvas division for the map-->
  		<div class="col-xs-12 col-sm-6 col-md-7">
        

  			<div class="panel panel-default">

  				<div class="panel-heading">
  					Location Map
  				</div>

  				<!-- include a colour controll which stores the colour array -->
  				<div class="panel-body">
  					<!-- people from listcontroller is passed as an attribute to the scope of map-canvas directive
  					also make the colour array an attribute to the directive-->
  			  		<map-canvas info="people" cols="colours"></map-canvas>
  			  	</div>
  			</div>
  		</div>


  		<div class="col-xs-6 col-md-4" ng-controller="JointController as joint">

  			<!-- canvas division for join data. include the joint controller -->
  			<div class="panel panel-default">
  			  	<div class="panel-heading">Joints Display</div>
  			  	<!-- space is labelled to this division to render he joints
  			  	include colour controller which sets the colours of the skeletons-->
  			  	<div id="joint_space" class="panel-body">
  			  		
  			  		<!--create drop down menu to choose the joint data to display.
  			  		model the option value as the joint.selected variable. this will be used in the joinCanvas directive to display the correct persons skeleton. track by personName -->
  			  		<label>Select a user to display their data</label>
  			  		<select class="form-control" ng-model="joint.selected">
  			  			<option value="-1">Non-Selected</option>
  			  			<option ng-repeat="person in people track by person.personName" value="{{$index}}" >{{person.personName}}</option>
  			  		</select>
              
              
              
              

  			  		<!--directive to generate and create the 3D space based on joint.selected selection
  			  		pass joint.selected into the scope (0 for none, otherwise it is = to the perosn index)
  			  		also pass a persons joints -->
  			  		<joint-canvas selected="joint.selected" peoples="people" cols="colours" element="'joint_space'"></joint-canvas>
  			  		<!-- Give person Data -->
              <div ng-hide="joint.selected == -1">
                <div>ID: {{people[joint.selected].personID}}</div>
                <div>Name: {{people[joint.selected].personName}}</div>
                <div>Activity: {{people[joint.selected].activity}}</div>
                <div>Position: ({{people[joint.selected].coord.x}}, {{people[joint.selected].coord.y}})</div>
              </div>

  			  	</div>
  			</div>

  			<!--division for gesture centre-->
  			<div class="panel panel-default">
  			  	<div class="panel-heading">Live Gestures</div>

  			  	<div class="panel-body">
              <!--create a button/panel for each gesture using ng-repeat. the icon name and description is updated dynamically -->
  			  		<div ng-repeat="gesture in gestures" class="well" class="col-xs-1 col-md-3">
                <label>{{gesture.name}}:</label>
                <li type="button" class="btn btn-lg" aria-label="Left Align">
                  <span ng-style="{color: 'red'}" style="font-size:2.2em;" class="{{gesture.icon}}" aria-hidden="true"></span>
                </li>
                <p>{{gesture.description}}</p>
              </div>
  			  	</div>
  			</div>

  			<!--division for application log-->
  			<div class="panel panel-default">
  			  	<div class="panel-heading">Application Log</div>

  			  	<div class="panel-body">
  			  		div4
  			  		<p>{{people[1].coord.x}}</p>
  			  		<blockquote ng-repeat="entry in log.entries">{{entry}}</blockquote>
  			  	</div>
  			</div>
  		</div>
	</div>

  <!-- training centre section -->
  <div ng-show="panel.isSelected(2)" ng-controller="GestureController as gesCtrl">
    <div><label>Modify/Personalise the Gestures</label></div>
    <!-- create buttons to train new gesutre (add or change), delete gesture, determine whether gesture is global or not (dummy, wont work)-->
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="gesture in gestures">
          
          <span style="font-size:2.1em;" class="{{gesture.icon}}" aria-hidden="true"></span>
          <!-- make the data target name binded to the gesture ID. there is a modal per gesutre. when the button is clicked, set
               the gesCtrl.gestureID to the ID of the gesture clicked-->
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#ges_modal{{gesture.ID}}" ng-click="gesCtrl.gestureID = gesture.ID">Train</button>

          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#delete_warning">Delete</button>
          
          <label>{{gesture.name}}:   </label>
          <p>{{gesture.description}}</p>

          <!-- Modal pop up to select user to train the gesture. ID it to the gesture ID so there is one modal per gesture-->
          <div class="modal fade" id="ges_modal{{gesture.ID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Training Setup - {{gesture.name}}</h4>
                </div>
                <div class="modal-body">

                  <!-- Form to select user to perform gesture -->
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="control-label">Select User to train the gesture:</label>

                        <!-- value of gesCtrl.index is person index in the array.-->
                        <select class="form-control" ng-model="gesCtrl.index">
                          <option value="-1" disabled="disabled">Select a user</option>
                          <option ng-repeat="person in people track by person.personName" value="{{$index}}" >{{person.personName}}</option>
                        </select>

                    </div>
                  </form> 

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                  <!-- set the train button up to request the training and also display joint modal -->
                  <button ng-click="gesCtrl.request(people)" type="button" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#train_screen">Train</button>
                </div>
              </div>
            </div>
          </div>

          

        </li>
      </ul>

      <!-- modal for the live training screen -->
      <div class="modal fade" id="train_screen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{gesCtrl.name}} is training a gesture</h4>
            </div>
            <div class="modal-body" id="train_display">

              <!-- display joint canvas in the modals body -->
              <joint-canvas selected="gesCtrl.index" peoples="people" cols="colours" element="'train_display'"></joint-canvas>

            </div>
          </div>
        </div>
      </div>

      <!-- button and modal to add a new gesture -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">New Gesture</button>
      <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Gesture</h4>
            </div>
            <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Gesture Name:</label>
                  <input type="text" class="form-control" id="gesture-name">
              </div>

              <div class="form-group">
                <label for="message-text" class="control-label">Description:</label>
                <textarea class="form-control" id="gesture-description"></textarea>
              </div>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <label class="control-label">Icon</label>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-music" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-fire" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-glass" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
                </ul>
              </div>
            </form>              



            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Train</button>
            </div>
          </div>
        </div>
      </div>

      <!--alert modal for delete gesture confirmation -->
      <div class="modal fade" id="delete_warning">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <div class="alert alert-danger fade in">
              
          <strong>Warning:</strong> Are you sure you want to delete this gesture?
          <div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>

        </div>
      </div>

    </div>

    <!-- test that the submit works -->
    <p>{{gesCtrl.test}}, {{gesCtrl.name}}, {{gesCtrl.operator}}</p>



  </div>



  <!-- History Section -->
  <div ng-show="panel.isSelected(3)">
    <div><label>View gesture/activity history</label></div>
  </div>

  <!-- User Profile Section -->
  <div ng-show="panel.isSelected(4)">
    <div><label>Edit user profiles</label></div>

    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="person in people">
          <label>Name:</label> {{person.personName}}
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editname_modal">Edit</button>

        </li>
      </ul>
    </div>


  </div>

  <!-- test database reading -->
  <div>

    {{people[0]["joints"]["head"].x}}
    <div ng-repeat="person in people">
      {{person.personName}}
    </div>
  </div>

  


  </section>

	<!-- run angular, controller etc scripts-->
  <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script> <!-- link angular-->
	<script type="text/javascript" src="js/m_app.js"></script> <!--link app object-->
	<script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script> <!-- for the canvas / shapes -->
	<script src="js/three.min.js"></script> <!-- for 3D joint data space -->
  <script src="css/bootstrap.min.css"></script> <!-- for glyphicons-->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html> 

