<!DOCTYPE html>
<html ng-app = "m_app">

<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />    <!-- link dependancies-->
  <link href="css/vis.min.css" rel="stylesheet" type="text/css" />
</head>

<div class="page-header">
	<h1>
		Marauders App
	</h1>
</div>

<!-- include ListController, with scope injected-->
<body ng-controller="ListController">

  <!-- DO NOT REMOVE OR EARTH EXPLODES -->
  <script src="js/vis.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://localhost:3000/webApp');
  </script>

    <section ng-controller ="PanelController as panel">
      <!-- make the tabs -->
      <!--choose class of tabs -->
        <ul class="nav nav-pills">
          <!-- set varialbe tab to 1 2 or 3 depending on the tab pressed. 
          ng-click calls the controller which sets tab to 1 2 or 3
          use ng class to keep the selected tab highlighted. it returns true when 1 2 or 3 is selected-->
          <li ng-class="{ active: panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">
            <span style="font-size:1.0em;" class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li> 
          <li ng-class="{ active: panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">
            <span style="font-size:1.0em;" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Gesture Centre</a></li>
          <!--<li ng-class="{ active: panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">History</a></li>-->
          <li ng-class="{ active: panel.isSelected(4)}"> <a href ng-click="panel.selectTab(4)">
            <span style="font-size:1.0em;" class="glyphicon glyphicon-user" aria-hidden="true"></span> User Profiles</a></li>
        </ul>

    <!-- real time section -->
	 <div class="row" ng-show="panel.isSelected(1)">
      <div><label> Real Time operation of the system</label></div>
	 	 <!-- create canvas division for the map-->
  		<div class="col-xs-12 col-sm-6 col-md-7">
        

  			<div class="panel panel-default">

  				<div class="panel-heading">
  					Location Map
  				</div>

  				<!-- include a colour controll which stores the colour array -->
  				<div class="panel-body">
  					<!-- people from listcontroller is passed as an attribute to the scope of map-canvas directive
  					also make the colour array an attribute to the directive-->
  			  		<map-canvas info="people" cols="colours"></map-canvas>
  			  	</div>
  			</div>
  		</div>


  		<div class="col-xs-6 col-md-4" ng-controller="JointController as joint">

  			<!-- canvas division for join data. include the joint controller -->
  			<div class="panel panel-default">
  			  	<div class="panel-heading">Joints Display</div>
  			  	<!-- space is labelled to this division to render he joints
  			  	include colour controller which sets the colours of the skeletons-->
  			  	<div id="joint_space" class="panel-body">
  			  		
  			  		<!--create drop down menu to choose the joint data to display.
  			  		model the option value as the joint.selected variable. this will be used in the joinCanvas directive to display the correct persons skeleton. track by personName -->
  			  		<label>Select a user to display their data</label>
  			  		<select class="form-control" ng-model="joint.selected">
  			  			<option value="-1">Non-Selected</option>
  			  			<option ng-repeat="person in people track by person.personName" value="{{$index}}" >{{person.personName}}</option>
  			  		</select>
              
              
              
              

  			  		<!--directive to generate and create the 3D space based on joint.selected selection
  			  		pass joint.selected into the scope (0 for none, otherwise it is = to the perosn index)
  			  		also pass a persons joints -->
  			  		<joint-canvas selected="joint.selected" peoples="people" cols="colours" element="'joint_space'"></joint-canvas>
  			  		<!-- Give person Data -->
              <div ng-hide="joint.selected == -1">
                <div>ID: {{people[joint.selected].personID}}</div>
                <div>Name: {{people[joint.selected].personName}}</div>
                <div>Activity: {{people[joint.selected].activity}}</div>
                <div>Position: ({{people[joint.selected].coord.x}}, {{people[joint.selected].coord.y}})</div>
              </div>

  			  	</div>
  			</div>

  			<!--division for gesture centre-->
  			<div class="panel panel-default" ng-controller="LivegesController as liveges">
  			  	<div class="panel-heading">Live Actions</div>

  			  	<div class="panel-body">
              <!--create a button/panel for each gesture using ng-repeat. the icon name and description is updated dynamically 
  			  		<div ng-repeat="gesture in gestures" class="well" class="col-xs-1 col-md-3">

                <li class="list-group-item" ng-repeat="person in people track by person.personName">
                  <span style="font-size:2.2em;" class="{{gesture.icon}}" aria-hidden="true"></span>
                  {{person.personName}} {{gesture.description}}
                </li>
              </div> -->

              <!-- list of gestures performed dismissed by clicking the panel. -->
              <ul class="list-group">
                <a href="#" class="list-group-item" ng-repeat="ges in currGes" ng-click="liveges.dismiss($index, currGes)">
                  {{liveges.findcol(ges.userID, colours)}}
                  <span ng-style="{'color': liveges.tempcol}" style="font-size:2.2em;" class="{{gestures[ges.gesID].icon}}" aria-hidden="true"></span>
                  {{liveges.findname(ges.userID, people)}} {{gestures[ges.gesID].performed}}
                </a>
              </ul>

  			  	</div>
  			</div>

  			<!--division for application log-->
  			<div class="panel panel-default">
  			  	<div class="panel-heading">Application Log</div>

  			  	<div class="panel-body">
  			  		div4
  			  		<p>{{people[1].coord.x}}</p>
  			  		<blockquote ng-repeat="entry in log.entries">{{entry}}</blockquote>
  			  	</div>
  			</div>
  		</div>
	</div>

  <!-- training centre section -->
  <div ng-show="panel.isSelected(2)" ng-controller="GestureController as gesCtrl">
    <div><label>Modify/Personalise the Gestures</label></div>
    <!-- create buttons to train new gesutre (add or change), delete gesture, determine whether gesture is global or not (dummy, wont work)-->
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="gesture in gestures" ng-show="!$last"> <!-- dont show falling as a "gesture"-->
          
          <span style="font-size:2.1em;" class="{{gesture.icon}}" aria-hidden="true"></span>
          <!-- make the data target name binded to the gesture ID. there is a modal per gesutre. when the button is clicked, set
               the gesCtrl.gestureID to the ID of the gesture clicked-->
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#ges_modal{{gesture.ID}}" ng-click="gesCtrl.gestureID = gesture.ID">Train</button>

          <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#delete_warning">Delete</button>
          
          <label>{{gesture.name}}:   </label>
          <p>{{gesture.description}}</p>

          <!-- Modal pop up to select user to train the gesture. ID it to the gesture ID so there is one modal per gesture-->
          <div class="modal fade" id="ges_modal{{gesture.ID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Training Setup - {{gesture.name}}</h4>
                </div>
                <div class="modal-body">

                  <!-- Form to select user to perform gesture -->
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="control-label">Select User to train the gesture:</label>

                        <!-- value of gesCtrl.index is person index in the array.-->
                        <select class="form-control" ng-model="gesCtrl.index">
                          <option value="-1" disabled="disabled">Select a user</option>
                          <option ng-repeat="person in people track by person.personName" value="{{$index}}" >{{person.personName}}</option>
                        </select>

                    </div>
                  </form> 

                  <p>You will be given 3 seconds to prepare, and 3 seconds to train the gesture</p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                  <!-- set the train button up to request the training and also display joint modal -->
                  <button ng-click="gesCtrl.request(people); gesCtrl.timer()" type="button" data-dismiss="modal" class="btn btn-primary" data-toggle="modal" data-target="#train_screen">Train</button>
                </div>
              </div>
            </div>
          </div>

          

        </li>
      </ul>

      <!-- modal for the live training screen -->
      <div class="modal fade" id="train_screen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{gesCtrl.name}} is training a gesture</h4>
            </div>
            <div class="modal-body">

              <!-- display joint canvas in the modals body -->
              <div id="train_display">
                <joint-canvas selected="gesCtrl.index" peoples="people" cols="colours" element="'train_display'"></joint-canvas>
              </div>
              <!-- display a countdown timer. 3 seconds to prepare, 3 to perform -->
              <p>{{timer_holder}}</p>
              <p>{{timer_num}}</p>


            </div>
            
            <!--confirmation modal for trained gesture -->
            <div class="alert alert-success fade in" ng-show="saved_bool">
              <strong>Gesture training successful</strong>
              <p>
                Please close to continue
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-show="saved_bool">Close</button>
              </p>

            </div>
            
          </div>
        </div>
      </div>

      

      <!-- button and modal to add a new gesture -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">New Gesture</button>
      <div class="modal fade" id="add_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Gesture</h4>
            </div>
            <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="control-label">Gesture Name:</label>
                  <input type="text" class="form-control" id="gesture-name">
              </div>

              <div class="form-group">
                <label for="message-text" class="control-label">Description:</label>
                <textarea class="form-control" id="gesture-description"></textarea>
              </div>

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <label class="control-label">Icon</label>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-music" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-fire" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-glass" aria-hidden="true"></span></a></li>
                  <li><a href="#"><span style="font-size:2em;" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
                </ul>
              </div>
            </form>              



            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Train</button>
            </div>
          </div>
        </div>
      </div>

      <!--alert modal for delete gesture confirmation -->
      <div class="modal fade" id="delete_warning">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <div class="alert alert-danger fade in">
              
          <strong>Warning:</strong> Are you sure you want to delete this gesture?
          <div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>

        </div>
      </div>

    </div>

    <!-- test that the submit works 
    <p>{{gesCtrl.test}}, {{gesCtrl.name}}, {{gesCtrl.operator}}</p>-->



  </div>



  <!-- History Section -->
  <div ng-show="panel.isSelected(3)">
    <div><label>View gesture/activity history</label></div>
  </div>

  <!-- User Profile Section -->
  <div ng-show="panel.isSelected(4)">
    <div><label>Edit user profiles</label></div>

    <div class="panel panel-default" ng-controller="ProfileController as profile">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="person in people track by person.personName">
          {{profile.findcol(person.personID, colours)}}
          <svg height="40" width="40" >
            <circle id="circle{{person.personID}}" cx="20" cy="24" r="15" stroke="black" stroke-width="1"/>
          </svg>

          <label>Name:</label> {{person.personName}}

          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#edit_modal{{person.personID}}" ng-click="profile.newName = person.personName; profile.findlocalcol(person.personID, colours)">Edit</button>
          <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#activity_modal" ng-click="profile.load_timeline(person.personName, person.gesList)">Activity</button>

          <!-- modal for edit user-->
          <div class="modal fade" id="edit_modal{{person.personID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Edit User: {{person.personName}}</h4>
                </div>
                <div class="modal-body">

                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Enter new name</label>
                      <input type="text" class="form-control" ng-model="profile.newName" required="string">
                  </div>

                  <div class="form-group">
                    <label class="control-label">Choose a new colour</label> (e.g. orange, #000000 etc)
                      <input type="text" class="form-control" ng-model="profile.newColour" required="string" style="border:2px solid {{profile.newColour}}">
                  </div>

                </form>              



                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" ng-click="profile.namechange(profile.newName, person.personName, person.personID, person); profile.changecol(person.personID, colours)" data-dismiss="modal" data-dismiss="modal" data-toggle="modal" data-target="#edituser_success">Save</button>
                </div>
              </div>
            </div>
          </div>

          

        </li>
      </ul>

      <!-- modal for user activity -->
      <div class="modal fade" id="activity_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">User Activity: {{profile.selectedName}}</h4>
            </div>
            <div class="modal-body">

              <div id="timeline_display"></div>
              
              <!--<activity-timeline personActivities="0" uid="profile.selectedID"></activity-timeline>-->
              

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default dropdown-toggle pull-left" data-toggle="dropdown" aria-expanded="false">
                <label class="control-label">Load from Log</label>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">18/06/2015</a></li>
                <li><a href="#">17/06/2015</a></li>
                <li><a href="#">16/06/2015</a></li>
                <li><a href="#">15/06/2015</a></li>
                <li><a href="#">14/06/2015</a></li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!--alert modal for saved user settings confirmation -->
      <div class="modal fade" id="edituser_success">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <div class="alert alert-success fade in">
              
          <strong>Success:</strong> User settings saved
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

        </div>
      </div>

    </div>

  </div>

  <!-- test database reading 
  <div>

    {{people[0]["joints"]["head"].x}}
    <div ng-repeat="person in people">
      {{person.personName}}
    </div>
  </div>-->


  


  </section>

	<!-- run angular, controller etc scripts-->
  
  
	<script type="text/javascript" src="js/angular.min.js"></script> <!-- link angular-->
	<script type="text/javascript" src="js/m_app.js"></script> <!--link app object-->
	<script src="https://code.createjs.com/easeljs-0.8.0.min.js"></script> <!-- for the canvas / shapes -->
	<script src="js/three.min.js"></script> <!-- for 3D joint data space -->
  <script src="css/bootstrap.min.css"></script> <!-- for glyphicons-->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
</body>
</html> 

